// BODY //
@use 'var' as var;
@use 'fonts';

body {
  font-family: 'work', sans-serif;
  font-size: 1rem;
  background-image: url(../img/darkwood.webp);
  background-size: cover;
  background-attachment: fixed;
  color: var.$white;
  cursor: default;
  overflow-x: hidden;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}