/* FONTS  */

@font-face {
    font-family: 'backcountry';
    src: url(fonts/backcountry-regular.ttf) format('ttf'),
    url(fonts/backcountry-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'work';
    src: url(fonts/worksans-regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}