@use '../var' as var;
@use '../fonts';

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 31.25rem;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 6.25rem;
        height: 6.25rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            background-position: right;
        }

        &:hover {
            border: 2px solid var.$blueJeans;
        }
    }

    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        color: var.$white;
    }

    &__ttl {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-family: 'backcountry', sans-serif;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: var.$coal75;
    }

    &__photos__lst {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__photo {
        width: 12rem;
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
        overflow: hidden;
        position: relative;
    
        
        &:hover {
            transform: scale(3);
            background-size: contain;
            z-index: 2;
        }

        @media screen and (max-width: 768px) {
            width: 15rem;
            aspect-ratio: 1/1;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    &__artist-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }
}