@use '../var' as var;

.herobanner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/road.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90vw;
        margin: 0 1rem;
    }

    &__ttl {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 75%;
        }
    }

    &__arrow {
        position: absolute;
        bottom: 10%;
        width: 4rem;
        aspect-ratio: 1;
        background-image: url(../img/round-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        z-index: 1;

        @media screen and (min-width: 768px) {
            width: 4rem;
        }

        &:hover {
            background-image: url(../img/round-down-red.svg);
        }
    }
}