.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;

    &--left {
        align-items: flex-start;
        text-align: left;
    }
}