@use '../var' as var;

.sponsor {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        // border-bottom: 1.5px solid var.$white;
        padding: 0 0 2rem 0;
    }

    &__empty {
        font-size: 1.5rem;
        text-align: center;
    }

    &__logo {
        width: 6.5rem;

        &--inactive {
            filter: grayscale(100%);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__name {
        text-align: center;
        width: 10rem;
    }

    &__button {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 2;
        top: 50%;
        left: 75%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;


        &--active {
            background-image: url(../img/check-circle.svg);


            &:hover {
                background-image: url(../img/cross-circle.svg);
            }
        }

        &--inactive {
            background-image: url(../img/cross-circle.svg);

            &:hover {
                background-image: url(../img/check-circle.svg);
            }
        }
    }
}