.separator--car {
    width: 100vw;
    height: 13.125rem;
    background-image: url(../img/car.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p {
    line-height: 1.5;
}

.hidden {
    display: none;
}

.txt {
    font-size: 1.25rem;

    &--center {
        text-align: center;
    }
}