@use '../var' as var;

.separator--car {
    width: 100vw;
    height: 13.125rem;
    background-image: url(../img/car.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p {
    line-height: 1.5;
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.txt {
    font-size: 1.25rem;

    &--center {
        text-align: center;
    }
}


.web {
    &__lnk {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var.$white;
        padding-bottom: 2.5rem;

        &:hover {
            color: var.$red;
        }
    }

    &__logo {
        width: 1.5rem;
    }
}

.tourism__img {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 31.25rem;
    }
}

.association__img {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 40rem;
    }
}

.red-separator {
    font-size: 2rem;
    color: var.$red;

    @media screen and (max-width: 768px) {
        color: transparent;
        width: 15rem;
        line-height: 0;
        height: 0.05rem;
        background-color: var.$red;
    }
}

.horns {
    max-width: 15rem;
    margin-bottom: -2rem;

    @media screen and (min-width: 768px) {
        max-width: 25rem;
    }
}

#arrow-down {
    position: absolute;
    bottom: 12%;
}

.red-line {
    border-top: 2px solid var.$red;
    margin: 2rem 0;
    padding-bottom: 2rem;
}

.middleName {
    position: absolute;
    left: -9999%;
    overflow: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
}

// .work-in-progress-page {
//     position : relative;
// }

// .work-in-progress-filter {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 4rem;
//     left: 0;
//     background-color: var.$coal75;
//     z-index: 20;
// }